input {
	file {
		path => "C:/Users/Jose/PycharmProjects/datos2/data_stream.csv"
		start_position => "beginning"
	}
}
filter {
	csv {
		separator => ","
		columns => ["kwd1","kwd2","tkn"]
	}
	
	mutate {convert => ["kwd1", "string"] }
	mutate {convert => ["kwd2", "string"] }
	mutate {convert => ["tkn", "string"] }

}

output {
	elasticsearch {
		hosts => "localhost"
		index => "searches"
		document_type => "searches_made"
	}
	stdout {}
}
